body {
    background: linear-gradient(to bottom, rgb(46, 5, 4) 0%, hsl(0, 0%, 0%) 70%);  

}

* {
    margin: 0;
    padding: 0;
}

nav ul {
    text-align: center;
    padding-top: 20px;
}

nav li {
    display: inline;
    list-style-type: none;
    margin: 20px;
    font-size: 30px;
}


nav a {
    color: rgb(255, 253, 253);
    text-decoration: none;
}

nav a:hover {
    color: rgb(214, 10, 10);
}

.information {
    margin-top: 50px;
}

.information1 {
    margin: 10px 400px;
    padding: 50px;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
}

.info {
    font-size: 60px;
    color: rgb(255, 255, 255);
}

.info1 {
    margin: 50px 0 10px 0 ;
}

input {
    margin-top: 9px;
    margin-bottom: 9px;
    font-size: 25px;
    text-align: center;
}

label {
    font-size: 33px;
    color: white;
}

#text {
    height: 100px;

}

.click {
    font-size: 20px;
}

footer{
    margin-top: 10px;
    line-height: 80px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

footer p{
    display: inline-block;
    margin: 0 100px;
    font-size: 20px;
}
 @media only screen and (max-width:450px){
    nav li{margin: 10px; font-size: 16px;}
    .information1{margin: 10px 20px 10px 20px;}
    footer{line-height: 40px;text-align: justify;}
}