body {
    background-color: rgb(0, 0, 0);
    background-image: url(../image/alireza-khatami-UrMB3mhwSqY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    line-height: 70px;
    
}

nav ul {
    text-align: center;
}

nav li {
    display: inline;
    list-style-type: none;
    margin: 20px;
    font-size: 30px;
    
}

nav a {
    color: white;
    text-decoration: none;

}

nav a:hover {
    color: rgb(214,10,10);
    
}

.head {
    color: white;
    font-size: 40px;
    margin: 25px 40px;
    text-align: center;
}

.head1 {
    margin-top: 50px;
    display: grid;
    grid-template-rows: 557px;
    grid-template-columns: 535px auto auto;
    
}

.respons {
    background-color: rgba(131, 19, 19, 0.7);
    height: 550px;
    margin: 5px;
}

.respons1 {
    color: white;
    text-align: center;
    padding-top: 60px;
    font-size: 50px;

}

.unordered {
    color: white;
    padding: 50px 0px 0px 40px;
    font-size: 30px;
}

.list {
    margin: 10px;
}

@media only screen and (max-width:650px){
    .head1{grid-template-columns: auto;}
}

@media only screen and (max-width:450px){
    nav li{margin: 10px; font-size: 16px;}
    .head1{grid-template-columns: auto;}
    .unordered{font-size: 27px;}
}