body {
    background-color: rgb(27, 26, 26);
}

nav ul {
    text-align: center;
}

nav li {
    display: inline;
    list-style-type: none;
    margin: 20px;
    font-size: 30px;
}

nav a {
    color: white;
    text-decoration: none;

}

nav a:hover {
    color: rgb(99, 55, 55);
}

