body{
    background: linear-gradient(to bottom, rgb(46, 5, 4) 0%, hsl(0, 0%, 0%) 100%);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    line-height: 70px;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline;
    list-style-type: none;
    margin: 20px;
    font-size: 30px;
}

nav a {
    color: white;
    text-decoration: none;

}

nav a:hover {
    color: rgb(214, 10, 10);
}

.sub{
    color: white;
    margin: 30px 50px 0 50px;
}

.validation{
    color: white;
    margin: 30px 50px 0 50px;
}


.heading {
    text-align: center;
    font-size: 60px;
}

.text{
    margin:20px 0;
}

 .text1{
    font-size: x-large;
    margin: 10px 0;
    text-align: justify;
 }
 h3{
    font-size: 32px;
 }

 h4{
    font-size: 50px;
    margin: 10px 0;
 }

 img{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 @media only screen and (max-width:450px)
 {
    nav li{margin: 10px; font-size: 16px;}
    .text1{font-size: 20px;}
    h4{font-size: 30px;}
 }